.no-scroll {
	overflow: hidden;
}

.overlay {
    height: 0;
    width: 100%;
    position: fixed; 
    z-index: 1;
    left: 0;
    top: 0;
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0, 0.5); 
    overflow-x: hidden; 
    transition: .4s;
    display: flex;
    align-items: center;
    justify-content: center;

    &__close {
    	position: absolute;
	    top: 35px;
	    right: 40px;
	    font-size: 60px;
	    width: 18px;
	    height: 18px;
	    background: 50% 50% url('/static/close.svg') no-repeat;
	    border: none;
	    cursor: pointer;
    }
}

.slider {
	display: none;
	background: #fff;
	min-width: 820px;
	min-height: 520px;
	max-width: 820px;
	max-height: 520px;
	overflow: auto;
	position: relative;

	&__forward,
	&__backward {
		position: absolute;
		top: 0;
		width: 70px;
		height: 100%;
		display: none;
	}

	&__backward {
		right: 100%;
		background: #fcc 50% 50% url('/static/back.svg') no-repeat;
	}

	&__forward {
		left: 100%;
		background: #ffc 50% 50% url('/static/forward.svg') no-repeat;
	}
}

.slides {
	display: flex;
}

.slides__sidebar {
	width: 300px;
}

.slides__viewport {
	width: 520px;
	max-height: 520px;
	overflow: hidden;
}

.slider__header,
.slide__text--bottom {
	display: none;
}

.slideshow {
	.overlay {
		height: 100%;
	}

	.slider {
		display: block;
	}
}

.slide,
.slide__video,
.slide__img {
	max-width: 520px;
	max-height: 520px;
}

@media screen and (max-height: 520px) {
	.overlay {
		align-items: flex-start;
	}
}

@media screen and (max-width: 960px) {
	.slider {
		margin-top: 80px;
	}
}

@media screen and (max-width: 820px) {

	.slider {
		max-width: 675px;
		min-width: 675px;
		max-height: 375px;
		min-height: 375px;
	}

	.slides__viewport {
		max-width: 375px;
		max-height: 375px;
	}
	
	.slide,
	.slide__video,
	.slide__img {
		max-width: 375px;
		max-height: 375px;
	}

}

@media screen and (max-width: 675px) {
	.overlay {
		align-items: flex-start;
		position: static;
	}

	.no-scroll {
		overflow: visible;
	}

	.slider {
		margin-top: 0;
		min-width: 375px;
		max-width: 375px;
		max-height: fit-content;
	}

	.slides__viewport {
		max-height: fit-content;
	}

	.slides__sidebar {
		display: none
	}

	.slider__header,
	.slide__text--bottom {
		display: block;
	}

	.slideshow .main__content {
		display: none;
	}
	.overlay__close {
		display: none;
	}
}







