.icons {
	display: flex;
	justify-content: flex-start;
	margin: 40px 0 0;

	&__item {
		display: block;
		margin: 0 20px 0 0;
		text-decoration: none;
		color: #000;
		width: 110px;
		font-size: 12px;
	}

	&__text {
		text-align: center;
	}
}

.icon {
	display: block;
	width: 80px;
	height: 80px;
	border-radius: 50%;
	overflow: hidden;
	margin: 0 auto;

	&__picture {
		width: 80px;
		height: 80px;
	}
}

@media screen and (max-width: 720px) {
	.icons {
		&__item {
			margin: 0 10px 0 0;
			width: 80px;
		}
	}

	.icon {
		width: 60px;
		height: 60px;

		&__picture {
			width: 60px;
			height: 60px;
		}
	}
}