.person {
	display: block;
	text-decoration: none;
	color: inherit;
	text-align: left;

	&::after {
		content: '';
		display: table;
		clear: both;
	}

	&__avatar {
		display: block;
		background-image: linear-gradient(to bottom, #f09835, #e65a39);
		width: 140px;
		height: 140px;
		border-radius: 50%;
		overflow: hidden;
		float: left;
	}

	&__picture {
		width: 120px;
		height: 120px;
		border-radius: 50%;
		border: 5px solid #fff;
		margin: 5px;
	}

	&__name {
		line-height: 20px;
		font-size: 28px;
		padding: 10px 0 10px 160px;
	}

	&__duty {
		padding-left: 160px;
	}

	&__link {
		padding-left: 160px;
		a {
			color: #405362;
			text-decoration: none;

			&:hover,
			&:focus,
			&:active {
				border-bottom: 1px solid #405362;
			}
		}
	}
}

@media screen and (max-width: 720px) {
	.person {
		&__avatar {
			width: 80px;
			height: 80px;
		}

		&__picture {
			width: 70px;
			height: 70px;
			border: 3px solid #fff;
			margin: 2px;
		}

		&__name {
			line-height: 80px;
			padding-left: 100px;
			font-size: 24px;
		}
	}
}