.person {
	display: block;
	text-decoration: none;
	color: inherit;
	text-align: left;
	margin-left: 20px;

	&::after {
		content: '';
		display: table;
		clear: both;
	}

	&__avatar {
		display: block;
		background-image: linear-gradient(to bottom, #f09835, #e65a39);
		width: 140px;
		height: 140px;
		border-radius: 50%;
		overflow: hidden;
		float: left;
	}

	&__picture {
		width: 120px;
		height: 120px;
		border-radius: 50%;
		border: 5px solid #fff;
		margin: 5px;
	}

	&__name {
		line-height: 20px;
		font-size: 28px;
		padding: 10px 0 10px 160px;
	}

	&__duty {
		padding-left: 160px;
	}

	&__link {
		padding-left: 160px;
		a {
			color: #405362;
			text-decoration: none;

			&:hover,
			&:focus,
			&:active {
				border-bottom: 1px solid #405362;
			}
		}
	}
}

@media screen and (max-width: 720px) {
	.person {
		&__avatar {
			width: 80px;
			height: 80px;
		}

		&__picture {
			width: 70px;
			height: 70px;
			border: 3px solid #fff;
			margin: 2px;
		}

		&__name {
			line-height: 80px;
			padding: 0 0 20px 100px;
			font-size: 24px;
		}

		&__duty {
			padding: 0;
		}
		&__link {
			padding: 0;
		}
	}
}

.person--micro {
	padding: 10px 0 30px 20px;
	color: #000;

	.person__go-back {
		width: 16px;
		height: 44px;
		background: 50% 50% url('/static/back.svg') no-repeat;
		margin: 0 20px 0 0;
		display: block;
		float: left;
	}

	.person__link {
		float: left;
	}

	.person__avatar {
		width: 44px;
		height: 44px;
	}

	.person__picture {
		width: 40px;
		height: 40px;
		border: 0;
		margin: 2px;
	}

	.person__name {
		line-height: 44px;
		padding: 0 0 16px 50px;
		font-size: 16px;
	}

	.person__duty {
		padding: 0;
		width: 100%;
		flex-grow: 1;
	}
	.person__link {
		padding: 0;
		width: 100%;
		flex-grow: 1;
	}
}

.person--with-link {
	.person__name {
		padding-left: 100px;
	}
}

