.previews {
	display: flex;
	justify-content: flex-between;
	list-style: none;
	flex-wrap: wrap;

	&__item {
	}
}


.preview {
	position: relative;
	line-height: 0;
	display: flex;
	align-items: center;
	justify-content: center;


	&__text {
		position: absolute;
		
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		background-color: rgba(0, 0, 0, .5);
		color: #fff;
		opacity: 0;
		font-weight: bold;
		font-size: 18px;
	}

	&:hover &__text,
	&:active &__text,
	&:focus &__text{
		opacity: 1;
		transition: opacity .4s;
	}

	&__picture {
		width: 220px;
		height: 220px;
	}
	
}

@media screen and (max-width: 460px) {
	.preview {
		&__picture {
			width: 119px;
			height: 119px;
		}

		&__text {
			line-height: 119px;
		}
	}
}