.previews {
	display: flex;
	justify-content: space-between;
	list-style: none;
	flex-wrap: wrap;

	&__item {
		margin-top: 20px;
	}
}

@media screen and (max-width: 699px) {
	.previews {
		max-width: 460px;
	}
}

.preview {
	position: relative;
	line-height: 0;

	&__text {
		position: absolute;
		display: flex;
		align-items: center;
		justify-content: center;
		flex-wrap: wrap;
		line-height: normal;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		background-color: rgba(0, 0, 0, .5);
		color: #fff;
		opacity: 0;
		font-weight: bold;
		font-size: 18px;
		box-sizing: border-box;
		padding: 20px;
	}

	&:hover &__text,
	&:active &__text,
	&:focus &__text{
		opacity: 1;
		transition: opacity .4s;
	}

	&__picture {
		width: 220px;
		height: 220px;
	}
	
	&__link {
		display: block;
		text-decoration: none;
		color: inherit;
	}
}

@media screen and (max-width: 460px) {
	.previews__item {
		margin-top: 9px;
	}

	.preview {
		&__picture {
			width: 119px;
			height: 119px;
		}

		&__text {
			font-size: 16px;
			padding: 10px;
		}
	}
}
